.question-results
    .choice-row
        display: flex
        align-items: center
        height: 3rem

        .votes
            flex-grow: 1
            display: flex
            align-items: center
            justify-content: flex-end

            .pictures
                list-style-type: none
                display: flex

                img
                    margin-left: 0.5rem
                    width: 2rem
                    height: 2rem

            .votes-count
                width: 1.5rem
                display: flex
                justify-content: flex-end

    .tooltip-wrapper
        position: relative
        cursor: pointer
        -webkit-transform: translateZ(0)
        -webkit-font-smoothing: antialiased

        .tooltip
            background: $active-color
            border: 1px solid darken($hover-color, 10%);
            text-align: center
            bottom: 100%
            display: block
            left: -3.25rem
            margin-bottom: 0.65rem
            opacity: 0
            padding: 0.7rem
            pointer-events: none
            position: absolute
            width: 10rem
            -webkit-transform: translateY(10px)
            -moz-transform: translateY(10px)
            -ms-transform: translateY(10px)
            -o-transform: translateY(10px)
            transform: translateY(10px)
            -webkit-transition: all .1s ease-out
            -moz-transition: all .1s ease-out
            -ms-transition: all .1s ease-out
            -o-transition: all .1s ease-out
            transition: all .1s ease-out

            &:before
                bottom: -20px
                content: " "
                display: block
                height: 20px
                left: 0
                position: absolute
                width: 100%

            &:after
                border-left: solid transparent 0.5rem
                border-right: solid transparent 0.5rem
                border-top: solid darken($hover-color, 8%) 0.5rem
                bottom: -0.5rem
                content: " "
                height: 0
                left: 50%
                margin-left: -0.6rem
                position: absolute
                width: 0

        &:hover .tooltip
            opacity: 1
            pointer-events: auto
            -webkit-transform: translateY(0px)
            -moz-transform: translateY(0px)
            -ms-transform: translateY(0px)
            -o-transform: translateY(0px)
            transform: translateY(0px)
